body{
    font-family: Montserrat;
    margin: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    color: white;
}
.titulo-secundario{
    font-size: 4rem;
    font-weight: 450;
    margin: 10px;
    width: fit-content;
    @media (max-width: 992px){
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
    }
}

.texto-descripcion{
    width: 100%;
    margin: 30px 10px;
    font-size: 1.2rem;
    font-weight: 300;
    @media (max-width: 992px){
        text-align: center;
        margin-top: .5rem;
    }
}

.boton-conseguir{
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
    color: white;
    background: rgb(219,188,100);
    background: linear-gradient(90deg, rgba(219,188,100,1) 30%, rgba(239,222,136,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
    @media (max-width: 992px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 50%;
    }
    a{
        color: white;
        text-decoration: none;
    }
    &:hover{
        transform: scale(103%);
    }
}
