#header {
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: nth($col, 5);
    width: 100%;
    z-index: 9;
    border-bottom: 0.1px solid nth($col, 2);
}

#toggle-navbar {
    display: none;
    font-size: 1.5rem;
    color: nth($col, 3);
    cursor: pointer;

    @media (max-width: 768px) {
        display: inline;
        align-self: center;
    }
}

#logo-navbar {
    width: 120px;
    padding: 15px;
}

.opciones-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        list-style: none;
        padding: 0px 15px;
        margin: 0;

        li {
            font-size: 1.3rem;
            font-weight: 300;

            @media (max-width: 768px) {
                padding: 1rem;
                text-align: center;
            }

            a {
                text-decoration: none;
                color: nth($col, 3);
            }
        }
    }
    
    @media (max-width: 768px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: nth($col, 5);
        box-shadow: 0 .5rem 1 rgba(0, 0, 0, .2);
        border-bottom: 0.1px solid nth($col, 2);
        display: none;
    }
}

.active-navbar {
    display: block;
    @media(min-width: 769px){
        display: flex;
    }
}

.active-navbar-border {
    border-bottom: none !important;
}

.active-link {
    font-weight: bold;
    color: nth($col, 3);
    border-bottom: 0.1px solid nth($col, 2);
}

.main-nav {
    li {
        a {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 0;
            position: relative;
            &:hover{
                font-weight: bolder;
                &::after{
                    width: 100%;
                }
            }
            &::after{
                content: '';
                display: block;
                height: 3px;
                background-color: nth($col, 3);
                position: absolute;
                bottom: 0;
                width: 0%;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}